.footer {
  width: 80vw;
  margin: auto;
  padding-bottom: 30px;
  color: gray;

  .sns-list {
    display: flex;
    font-size: 2rem;
    li{
      margin-right: 1.2rem;
    }
  }

  .guide-list {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    width: 80vw;  

    li {
      justify-content: center;
      align-items: center;
      padding: 10px;
    }
  }

  .service-code {
    border: 1px solid white;
    color: inherit;
    padding: .7rem;
    cursor: pointer;
    margin: 30px 0;
  }
  
  .address {
    font-style: normal;
  }
}