// 리스트 레이아웃
main {
  // width: 90vw;
  margin: 0 auto;
  margin-top: 50px;
}
main > section {
  overflow: hidden;
  position: relative;
}
// 리스트 헤딩
main h3 {
  margin-left: 45px;
  font-size: 20px;
}
main h3 button{
  color: #fff;
  outline: 0;
}


// 리스트 아이템
.item-wrapper {
}
.item-wrapper > ul {
  display: flex;
  position: relative;
  top: 0;
  margin-left: 45px;
  transition: all 0.3s;
}
.item-wrapper > ul::after {
  display: block;
  content: '';
  clear: both;
}
.item-wrapper .item {
  position: relative;
}
.bob-container {
  transform: scale(0.7);
  transition: all .3s;
  margin-left: -45px;
  margin-right: -45px;
}
.bob-container::before {
  content: '';
  background-image: linear-gradient(to left, rgba(20, 20, 20, 0.7), rgba(0, 0, 0, 0) 0px, #141414 120vh);
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
}
.bob-container > img {
  width: 350px;
  height: 197px;
}
.bob-container div,
.bob-container .detail-btn {
  visibility: hidden;
}
.bob-container:hover div,
.bob-container:hover .detail-btn {
  visibility: visible;
}
.bob-container:hover {
  transform: scale(1);
  margin: 0;
}
.bob-container:hover > img {
  // height: 280px;
}

// 리스트 아이템 버튼 
.bob-container button {
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

// 리스트 아이템 왼쪽 영역
.bob-overview-wapper {
  position: absolute;
  left: 10px;
  bottom: 30px;
  width: 80%;
}
.link-wrapper .play-btn {
  cursor: pointer;
}
.link-wrapper .play-btn:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
.bob-container .play-btn {
  width: 40px;
  height: 40px;
  margin-bottom: 12px;
  background-color: rgba(255, 255, 255, 0.5);
}
.bob-container .play-btn::before {
  padding-left: 5px;
  font-size: 15px;
}
.bob-container .item-title {
  margin-bottom: 5px;
}
.bob-overview-wapper li {
  font-size: 15px;
}


// 리스트 아이템 오른쪽 영역
.bob-actions-wrapper {
  position: absolute;
  right: 10px;
  bottom: 30px;
}
.bob-actions-wrapper .thumbs-wrapper button {
  display: block;
  margin-bottom: 5px;
  width: 27px;
  height: 27px;
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(16, 16, 16, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.8);
  transition: all 0.3s;
}
.bob-actions-wrapper .thumbs-wrapper button::before {
  margin: 0;
}
.bob-actions-wrapper .thumbs-wrapper button:hover {
  transform: scale(1.2);
}

// 리스트 아이템 상세정보 버튼
.bob-container .detail-btn  {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  border-radius: 0;
  color: #fff;
  transition: all 0.3s;
}
.bob-container .detail-btn:hover {
  bottom: 5px;
  color: red;
}

// 슬라이드
// 버튼
.controls button {
  position: absolute;
  top: 54px;
  width: 50px;
  height: 139px;
  padding: 0;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  outline: none;
}
.controls button:hover {
  // background-color: rgba(27, 27, 27, 0.7);
  // background-color: #151515;
}
.controls .prev-btn {
  left: 0;
  background-color: #151515;
}
.controls .next-btn {
  right: 0;
}
.controls .prev-btn:before {
  visibility: hidden;
}
.controls:hover .prev-btn:before {
  visibility: visible;
}
.controls .next-btn:before {
  visibility: hidden;
  transition: all 0.2s;
}
.controls:hover .next-btn:before {
  visibility: visible;
  transition: all 0.2s;
}

// 인디케이트
.slide-dot { 
  display: flex;
  position: absolute;
  top: 18px;
  right: 35px;
}
.slide-dot li {
  width: 15px;
  height: 2px;
  margin-left: 3px;
  background-color: #4d4d4d;
}
.slide-dot li.active{
  background-color: #aaa;
}
