.a11y-hidden, legend{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}
.play-btn,
.gray-btn{
  height: 60px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  svg{
    width: 30px;
  }
  span{
    margin-left: 10px;
    font-size: 25px;
  }
}
.play-btn{
  background: white;
  margin-right: 15px;
}
.gray-btn{
  background: rgba(100,100,100,0.5);
  color: white;
  cursor: pointer;
  &:hover{
    background: rgba(50,50,50,0.5);
  }
}